/* Media query for max width 1200px */
@media only screen and (max-width: 1200px) {
  .al_show_result_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 18px 0;
    margin-bottom: 0px;
  }
  .al_show_result_items {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .logo_area {
    display: none;
  }
  .app_name h1 {
    text-align: left;
  }
  .header_naves {
    flex: 0 0 60%;
  }
  .app_name {
    flex: 0 0 40%;
  }
  /* reversion  */
  .al_main_setions {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .al_preset_concept_area {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    padding-bottom: 20px;
  }
  .al_show_for_mobile {
    display: block;
  }
  .hide_in_mobile {
    display: none;
  }
  .al_show_for_mobile {
    padding: 30px 0;
  }
  .al_show_result_area {
    padding: 0;
  }
  .al_preset_filter_wrapper {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .al_filter_partes {
    flex-direction: column;
  }
  .al_filter_right_part,
  .al_filter_left_part {
    flex: 0 0 100%;
    width: 100%;
  }
  .al_from_group {
    width: 100%;
    max-width: 100%;
  }

  .match_precision .al_card {
    padding: 10px 15px;
  }

  h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #585858;
  }
  p {
    font-size: 14px;
  }
  .al_card p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .al_card_title {
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  .header {
    padding: 15px 0;
    margin-bottom: 5px;
  }
  .container {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 576px) {
  .al_match_value {
    display: none;
  }
  .al_match_range {
    flex: 0 0 60%;
  }
}
