/* Media query for max width 1200px */
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  .from_output_area {
    max-width: 380px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .input_cards_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
  .from_output_area {
    position: inherit;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    max-width: 991px;
  }

  .input_cards_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .from_output_area {
    position: inherit;
    max-width: 100%;
  }
  .area_card {
    min-height: inherit;
  }
  .card_textarea {
    min-height: 300px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
  header {
    background: #e66f0212;
  }

  .app_name h1 {
    text-align: left;
  }
  .header_naves {
    flex: 0 0 60%;
  }
  .app_name {
    flex: 0 0 40%;
  }
  /* reversion  */
  .filter_partes {
    flex-direction: column;
  }
  .filter_right_part,
  .filter_left_part {
    flex: 0 0 100%;
    width: 100%;
  }
  .from_group {
    width: 100%;
    max-width: 100%;
  }

  .input_item_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .card_textarea {
    min-height: 268px;
  }
  .from_top_inputs {
    padding-top: 23px;
  }
  .preset_concept_area {
    padding: 15px 0px;
  }
  .upload_icon_with_input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 767px) {
  .from_group {
    width: 100%;
    max-width: 100%;
  }

  .match_precision .card {
    padding: 10px 15px;
  }

  h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #585858;
  }
  p {
    font-size: 14px;
  }
  .card p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .card_title {
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  .header {
    padding: 15px 0;
    margin-bottom: 5px;
  }
  .container {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 576px) {
  .match_value {
    display: none;
  }
  .match_range {
    flex: 0 0 60%;
  }
  .header_naves,
  .app_name,
  .logo_area {
    flex: inherit;
  }
  .for_large_screen {
    display: none;
  }
  .for_extra_small_screen {
    display: block;
  }
}
