@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap");
:root {
  --primary-color: #ff6c37;
  --text-color: #6b6b6b;
  --title-color: #333333;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

li,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header,
nav,
main,
section,
footer {
  display: block;
}
button {
  cursor: pointer;
}

/* Global css  */
.container {
  /* padding: 0 40px; */
  max-width: 1440px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #585858;
}
h6 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
button {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
}
/* Header css  */
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px 0;
  margin-bottom: 10px;
}
.header_border {
  border-bottom: 1px solid #d8d8d8;
}
.header_border .header_wrapper {
  margin-bottom: 0;
  padding-bottom: 5px;
}
.header_naves,
.app_name,
.logo_area {
  flex: 0 0 33.33%;
}
.app_name {
  text-align: center;
}
.header_naves ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 11px;
}
.drop_down_item {
  position: relative;
}
.drop_down_navs {
  display: none;
}
.drop_down_navs ul {
  background: #fcf1e6;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  min-width: 280px;
  right: 0;
  top: 100%;
  margin-top: 5px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 0 !important;
  padding-bottom: 15px;
  transition: 0.4s;
}
.global_mobile_menu .drop_down_navs ul {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 3px #c5c5c5;
}

.drop_down_navs li {
  width: 100%;
}
.drop_down_navs li a {
  display: block;
  color: #333333;
  font-size: 16px;
  padding: 13px 20px;
  transition: 0.3s;
  border-radius: 6px;
}
.global_mobile_menu .drop_down_navs ul li a {
  width: 100%;
  background: #e56f0233;
  max-width: 75%;
  margin-bottom: 10px;
  margin-left: 15px;
  border-radius: 14px;
}
.main_navs ul {
  gap: 50px;
}
.main_navs li a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.main_navs li a:hover {
  color: #e5cbc2;
}
.drop_down_navs li a:hover {
  background: #f7e5d5;
}
.global_mobile_menu .drop_down_navs .active_btn,
.global_mobile_menu .drop_down_navs ul li a:hover {
  background: var(--primary-color);
  color: #fff;
}
.nav_with_icon {
  display: flex !important;
  gap: 5px;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.nav_with_icon img {
  width: 20px;
}
.close_dropdown {
  text-align: right;
  padding: 10px 12px;
}
.close_dropdown button {
  background: transparent;
  border: none;
}
.user_avater {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.bar_icons {
  font-size: 25px;
  color: #000;
}
.match_range {
  flex: 0 0 50%;
  overflow: hidden;
  position: relative;
}
.match_range::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0px;
  top: 5px;
  background: #e46d00;
  border-radius: 50%;
  z-index: 9;
}

.toptip_icon {
  width: 24px;
  height: 18px;
  font-size: 18px;
}
.toptip_icon img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}

.area_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  min-height: 443px;
}

.card_body {
  position: relative;
}

.range {
  width: 100%;
  height: 3px;
  -webkit-appearance: none;
  background: #031aed20;
  outline: none;
  border-radius: 3px;
  padding: 3px 0;
  /* margin-top: 12px; */
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e56f02;
  cursor: pointer;
  border: none;
}

.range_after_element {
  background: #ff7a00;
  width: 10px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  border: none;
  box-shadow: none;
}

.range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e56f02;
  cursor: pointer;
  border: none;
}

.match_flex_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.filter_partes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

label {
  display: block;
  color: #2b2a2a;
  font-size: 14px;
  margin-bottom: 12px;
}
.filter_right_part,
.filter_left_part {
  flex: 0 0 50%;
}
.from_group {
  width: 100%;
  max-width: 450px;
}
.filter_right_part .from_group {
  max-width: 453px;
}
.filter_left_part .from_group {
  max-width: 448px;
}
.preset_concept_area {
  padding: 30px 0px;
}
.custom_select {
  width: 100%;
  height: 52px;
  padding: 10px;
  background: #e66f0229;
  border: none;
  border: 1px solid #a7a1a1;
  border-radius: 6px;
  color: gray;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.text-right {
  text-align: right;
}
.button {
  border: none;
  padding: 14px 0;
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
  margin-top: 33px;
  font-family: "Poppins", sans-serif;
}
.button_primary {
  background: #e56f02;
  color: #fff;
}
.button_primary:hover {
  background: gray;
}
.button_secondary {
  background: #ffffff;
  color: var(--primary-color) !important;
  padding: 11px 20px;
  font-size: 20px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 15px;
}
.button_secondary:hover {
  background: var(--primary-color);
  color: #fff !important;
  border: 1px solid;
}

.filter_right_part {
  display: flex;
  justify-content: flex-end;
}

.al_show_result_area {
  padding: 60px 0px;
}
.card_title {
  font-size: 17px;
  padding-bottom: 18px;
  color: #333;
  font-weight: 500;
  margin-left: 15px;
}
.border_gray {
  border: 2px solid #b6bffe;
}
.border_primary {
  border: 2px solid #e56f0247;
}
.input_cards_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px 0; */
}
.card_footer .btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgb(205, 205, 205);
  color: gray;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.card_footer .btn:hover {
  background: #e56f02;
  color: #fff;
}
.card_right_arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
}
.check_icon {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  background: rgb(2, 178, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -35px;
  right: -35px;
}
.card p {
  color: gray;
  font-size: 15px;
  margin-bottom: 12px;
}
.card .al_p_title {
  margin-bottom: 3px;
}

/* for mobile two  */
.main_setions {
  display: flex;
  flex-direction: column;
}
.show_for_mobile {
  display: none;
}
.main_input_output_area {
  position: relative;
  margin-bottom: 30px;
}
.from_output_area {
  position: absolute;
  width: 100%;
  max-width: 455px;
  right: 0;
  bottom: 0;
}
.card_textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  color: gray;
  font-size: 15px;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  min-height: 310px;
}
.card_textarea:focus-visible {
  border: none;
  box-shadow: none !important;
  outline: none;
}

.for_extra_small_screen {
  display: none;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #f8b06d;
  color: #333;
  /* text-align: center; */
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 99;
  top: -0%;
  left: 100%;
  font-size: 11px;
  text-align: left;
  transform: translateX(5px);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #e56f0247 transparent transparent;
}
.toltip_flex {
  display: flex;
  gap: 5px;
}
.cloud_icons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 25px;
  max-height: 25px;
}
.cloud_icons img {
  width: 100%;
  height: 100%;
}
.bar_icons {
  width: 30px;
  height: 30px;
  display: flex;
  align-content: center;
  align-items: center;
}
.bar_icons img {
  width: 100%;
  height: 100%;
}

/* icon css  */
.fill_by_input svg,
.fill_by_input svg path {
  fill: rgb(2, 178, 2);
}
.fill_by_input.filled svg,
.fill_by_input.filled svg path {
  fill: #fff;
}

/* custom modal css  */

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.custom_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000054;
  z-index: 99999999;
  display: none;
  overflow-y: scroll;
  padding: 0 3%;
}
.modal_wrapper {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.modal_center {
  justify-content: center;
  height: calc(100% - 80px);
}

.modal_wrapper.modal_small {
  width: 100%;
  max-width: 500px;
}
.modal_midium {
  width: 100%;
  max-width: 849px;
}
.modal_content {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.show_modal .modal_content {
  animation: slideIn 0.3s ease forwards;
  opacity: 1; /* Show the modal content */
}
.modal_content.slideIn {
  animation: slideIn 0.3s ease forwards;
}
.modal_body {
  text-align: center;
}
.modal_footer {
  text-align: center;
  padding-top: 22px;
}
.verification_modal p {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.modal_icon {
  margin-bottom: 10px;
}

.auth_modal_style .authContent {
  padding: 20px 25px 20px;
}

.auth_modal_style .authContent {
  text-align: left;
}

.modal_button {
  width: inherit;
  padding: 5px 25px;
  margin: 0;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  height: inherit;
  border-radius: 10px;
  font-size: 14px;
}
.verification_modal .modal_card {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 30px 0;
}
/* For Sign up and login */
.auth__header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth__status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.auth_logo {
  display: block;
  max-width: 144px;
  height: 44px;
  width: 100%;
}
.auth_logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.authBody {
  background: #efefef;
  padding: 50px;
}
.authContent {
  padding: 45px 50px 45px;
  max-width: 875px;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
}
.authTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--primary-color);
}
.authSubTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #b1b1b1;
}
.breakOr {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #b1b1b1;
  position: relative;
}
.authContent form {
  padding-top: 20px;
}
.formControl {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.formControl label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 0;
  color: #212124;
  padding-bottom: 5px;
}
.formControl input {
  width: 100%;
  outline: none;
  border: 1px solid #c4c4c4;
  padding: 10px 15px;
  font-family: inherit;
  color: #212124;
  border-radius: 10px;
  font-size: 16px;
}
.formControl input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.formControl input::-moz-placeholder {
  color: #c4c4c4;
}
.formControl input:-ms-input-placeholder {
  color: #c4c4c4;
}
.formControl input::-ms-input-placeholder {
  color: #c4c4c4;
}
.formControl input::placeholder {
  color: #c4c4c4;
}
.formControl input:hover,
.formControl input:focus {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background: transparent;
}
.formControl input:hover ~ label,
.formControl input:focus ~ label {
  color: var(--primary-color);
}
.authHidePass {
  position: relative;
}
.authHidePass input {
  padding-right: 35px;
}
.authHidePass label span img {
  height: 14px;
  margin-bottom: -2px;
  width: 16px;
  object-fit: contain;
}
.togglePassChecker {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 45px;
  width: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.togglePassChecker img {
  width: 20px;
}
.forgotPass {
  margin-top: -15px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #33333380;
}
.forgotPass:hover {
  color: #212124;
  text-decoration: underline;
}
.termConditions {
  font-size: 14px;
  font-weight: 400;
  color: #878787;
  display: block;
  text-align: center;
}
.termConditions a {
  color: var(--primary-color);
  text-decoration: none;
}
.termConditions a:hover {
  text-decoration: underline;
}
.formSubmit {
  text-align: center;
  padding-top: 40px;
}
.formSubmitBtn {
  padding: 15px 60px;
  background: var(--primary-color);
  color: #fff;
  -webkit-box-shadow: 5px 5px 15px 0px #e56f024d;
  box-shadow: 5px 5px 15px 0px #e56f024d;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  border-radius: 10px;
  max-width: 520px;
  width: 100%;
}
.formSubmitBtn:hover {
  opacity: 0.7;
}
.authWithOthers {
  padding-top: 40px;
}
.authWithOthers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  padding: 30px 0;
}
.authSocailLIst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
}
.authSocailLIst li button,
.authWithOthers ul li button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #eeeeee;
}
.authWithOthers ul li button:hover {
  background: var(--primary-color);
}
.authWithOthers ul li button img {
  height: 25px;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.authSocailLIst li {
  width: 100%;
}
.authSocailLIst li button {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.authSocailLIst li button img {
  width: 25px;
}
.authSocailLIst li button small {
  font-size: 16px;
  font-family: inherit;
}
.authSocailLIst li:nth-child(1) button {
  background: #e56f0233;
}
.authSocailLIst li:nth-child(2) button {
  background: #1877f233;
}
.authSocailLIst li button:hover {
  opacity: 0.7;
}
.authWithOthers p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #878787;
  text-align: center;
}
.authWithOthers p a {
  color: var(--primary-color);
}
.authWithOthers p a:hover {
  text-decoration: underline;
}
/* For Global */
.btn {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
}
.btn:hover {
  opacity: 0.7;
}
.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  background: #fff;
  color: var(--primary-color);
}
.btn-secondary {
  background: #fff;
  color: var(--primary-color);
}
.btn.btn_arrow,
.btn.btn_download,
.btn.btn_upload {
  padding: 0;
}
/* Landing Page */
.landing_header {
  position: relative;
  z-index: 1;
}
.landing_header::after {
  position: absolute;
  content: "";
  background: url("../images/background/header-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 900px;
  width: 800px;
  right: 0;
  top: -50px;
  z-index: -1;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: center;
  column-gap: 30px;
  padding: 30px 0;
}
.mobile_bar {
  display: none;
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainNav li a {
  display: inline-flex;
  font-weight: 600;
  color: var(--title-color);
  padding: 5px 20px;
  transition: 0.3s;
}
.mainNav li a:hover {
  color: var(--primary-color);
}
.mainNav li a img {
  margin-left: 5px;
  margin-top: 3px;
}
.headerNav ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.headerBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo_area .logo {
  display: block;
  width: 100%;
}
.logo_area .logo img {
  width: 100%;
}
.headerBtn ul li.menuItem a {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  padding: 5px 20px;
}
.landing_header .headerBtn ul li.menuItem a {
  color: #fff;
}
/* Landing Page hero */
.heroArea {
  position: relative;
  z-index: 22;
  padding: 50px 0;
}
.section__ttitle {
  font-size: 42px;
  font-weight: 700;
  color: var(--title-color);
}
.section__ttitle span {
  color: var(--primary-color);
}
.heroHeader .section__ttitle {
  font-size: 50px;
}
.heroHeader p {
  color: var(--text-color);
  padding-top: 40px;
  padding-bottom: 60px;
}
.heroHeader .btn {
  padding: 15px 40px;
}
.subTitle {
  font-size: 32px;
  color: var(--text-color);
  font-weight: 600;
}
.hero__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 99;
}
.heroHeader {
  width: 100%;
}
.hero__content {
  height: 100%;
  width: 100%;
  display: none;
}
.hero__content img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* transform: scale(1.3); */
  padding-left: 14%;
  margin-top: -60px;
}
/* videArea */
.videArea {
  padding: 140px 0 40px 0;
}
.vedioHeader {
  text-align: center;
}
.vedioHeader .section__ttitle {
  padding-bottom: 5px;
}
.vedioHeader p {
  padding: 20px 0;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
  max-width: 1050px;
  margin: 0 auto;
}
/* resumeArea */
.resumeArea {
  padding: 50px 0;
}
.resumeHeader {
  text-align: center;
}
.resume__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding-top: 20px;
}
.resumeCard {
  box-shadow: 4px 4px 20px 2px #00000040;
  padding: 40px 30px;
  border-radius: 30px;
  transition: 0.3s all ease-in;
  width: 100%;
  max-width: 386px;
  margin: 0 auto;
  height: 100%;
  min-height: 310px;
}

.middle-active .resumeCard,
.resumeCard:hover {
  background: var(--primary-color);
}
.resumeCard_thumb {
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}
.middle-active .resumeCard .resumeCard_thumb,
.resumeCard:hover .resumeCard_thumb {
  background: #fff;
}
.resumeCard:hover svg,
.resumeCard:hover svg path,
.middle-active .resumeCard svg path,
.middle-active .resumeCard svg {
  fill: var(--primary-color);
}
.resumeCard_thumb img {
  height: 45px;
  width: 45px;
  object-fit: contain;
}
.resumeCard_text {
  padding-top: 20px;
  text-align: center;
}
.resumeCard_text h3 {
  font-size: 20px;
  color: var(--title-color);
  padding-bottom: 10px;
  font-weight: 600;
}
.resumeCard_text p {
  font-size: 18px;
  color: var(--text-color);
}
.middle-active .resumeCard h3,
.resumeCard:hover h3,
.middle-active .resumeCard p,
.resumeCard:hover p {
  color: #fff;
}

.resume_slider .owl-stage-outer {
  padding: 50px 0;
}
.resume_slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.resume_slider .owl-next {
  position: absolute;
  right: 0;
  top: 0;
}
.resume_slider .owl-nav button i {
  padding: 10px !important;
  font-size: 20px;
}
.resume_slider .owl-nav button:hover i {
  color: var(--primary-color) !important;
}
/* ctaHeader */
.ctaArea {
  padding: 50px 0;
}
.ctaHeader {
  text-align: center;
}
.ctaHeader .section__ttitle {
  padding-bottom: 10px;
}
.cta__content {
  padding-top: 40px;
}
.vedioSlider {
  width: 100%;
  max-width: 1129px;
  margin: 0 auto;
}
.singleSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 300px;
  overflow: hidden;
}
.singleSlide img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.ctaSlide .owl-nav button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--primary-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}
.ctaSlide .owl-nav button:hover {
  opacity: 0.8;
}
.ctaSlide .owl-nav {
  display: flex;
  align-items: center;
  column-gap: 40px;
  justify-content: center;
}
/* Footer */
.globalFooter {
  background: #f5f5f4;
}
.footer__wrapper {
  padding: 50px 0;
}
.footer_menu ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer_menu ul li a {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  transition: 0.3s;
}
.footer_menu ul li a:hover {
  color: var(--primary-color);
}
.footerWidgets {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.single__widget .footerLogo {
  max-width: 250px;
}
.single__widget .footerLogo img {
  height: 45px;
  width: 170px;
  object-fit: contain;
}
.socailWidget {
  width: 200px;
}
.single__widget ul li {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 10px;
}
.socailWidget h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
}
.footerSocail {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-top: 15px;
}

.footerSocail li a {
  font-size: 22px;
  color: var(--text-color);
}
.footerSocail li a:hover {
  color: var(--primary-color);
}
.footer_cp {
  border-top: 2px solid #6b6b6b;
  padding: 30px 20px;
  text-align: center;
}
.footer_cp p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
}

/* auth pages css  */
.auth_pages_divider {
  min-height: calc(100vh - 93px);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.auth_page_content_wrapper {
  flex: 0 0 60%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: calc(100vh - 140px);
}

.auth_side_bar_wrapper {
  flex: 0 0 30%;
  height: 100%;
  padding: 40px 0;
  padding-top: 43px;
}
.horizontal_line {
  flex: 0 0 5%;
  display: block;
  height: calc(100vh - 93px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.horizontal_line span {
  display: block;
  width: 0.9px;
  height: 100%;
  background: #d8d8d8;
}

.auth_sidebar_navs ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid #33333380;
  border-radius: 10px;
  padding: 18px 20px;
  font-size: 16px;
  color: #171717;
  line-height: 24px;
  transition: 0.3s;
}
.auth_sidebar_navs ul li a:hover {
  background: #fcf1e6;
  border-color: #fcf1e6;
}
.auth_sidebar_navs ul li a.active {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}
.auth_sidebar_navs ul li a.active .svg_icon.path svg path {
  fill: #fff;
}
.auth_sidebar_navs ul li a.active .svg_icon.stroke svg path {
  stroke: #fff;
}
.auth_sidebar_navs .nav_with_icon {
  gap: 16px;
}
.auth_sidebar_navs ul li {
  margin-bottom: 55px;
}
.auth_sidebar_navs ul li:last-child {
  margin-bottom: 0px;
}
.svg_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg_icon svg {
  width: 20px;
  height: 20px;
}
.auth_page_title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: #171717;
  padding-bottom: 25px;
}
.auth_page_subtitle {
  color: #171717;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 28px;
}
.auth_content_area .formControl input {
  padding: 18px 20px;
}
.auth_content_area .formSubmitBtn {
  max-width: 100%;
}
/* package card css  */
.package_card {
  border: 2px solid #e56f0238;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  color: #6b6b6b;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.item_focused .package_card {
  border-color: #ff6c3796;
}
.package_card_footer,
.package_card_body,
.package_card_header {
  padding: 15px 22px;
  min-height: 170px;
}

.feature_divider {
  text-align: center;
  position: relative;
}
.feature_divider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b5b0b0;
  right: 0;
  max-width: 35%;
  top: 50%;
}
.feature_divider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b5b0b0;
  left: 0;
  top: 50%;
  max-width: 35%;
}

.package_card_title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.package_sub_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #6b6b6b;
}
.package_card_body ul li {
  list-style: disc;
  margin-left: 16px;
  padding: 5px 0;
}
.package_card_body ul li b {
  font-weight: 600;
}
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: var(--primary-color);
  padding: 25px 0;
  margin-bottom: 15px;
}
.free_text {
  color: var(--primary-color);
  font-weight: 500;
}
.price small {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #6b6b6b;
}
.package-anchore {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 10px 0;
  display: inline-block;
  transition: 0.3s;
}
.package-anchore:hover {
  color: var(--primary-color);
  opacity: 0.6;
}
.my_package_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
}
.my_active_package ul li {
  list-style: none;
  margin: 0;
}

.my_active_package .date_time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.package_card.my_active_package {
  min-width: 400px;
}
.my_package_buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.my_package_buttons button {
  padding: 20px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.btn-primary-reverse {
  color: #33333399;
  background: #fff1eb;
}
.btn-primary-reverse:hover {
  color: #fff;
  background: var(--primary-color);
  opacity: 1;
}

/* pricing page css  */
.full_width_pricing_area {
  padding: 10px 0 90px 0;
}
.pricing_wrapper {
  padding: 0 75px;
}
.pricings_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-content: center;
  gap: 20px;
}
.btn.btn-primary-gray {
  border: 2px solid #f1d0c2;
  color: #33333399;
  opacity: 1;
}
.btn.btn-primary-gray:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.package_card_footer button {
  width: 100%;
  justify-content: center;
  padding: 16px 0;
}
.section_header {
  padding-bottom: 40px;
}
.section_header h3 {
  color: #333333;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.section_header p {
  color: #6b6b6b;
}
.pricings_cards .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50px);
}
.pricings_cards .owl-nav button:hover {
  color: var(--primary-color);
}
.pricings_cards.owl-carousel {
  padding: 0 20px;
}
/* my resume page css  */
.single_resume_item {
  margin-bottom: 28px;
}
.single_resume_item:last-child {
  margin-bottom: 0;
}
.single_resume_item .date_time {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.job_title {
  color: #333333cc;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 8px 0;
}

.job_description {
  color: #333333;
}
.job_description a {
  content: ;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5dadec;
  transition: 0.3s;
}
.job_description a:hover {
  color: var(--primary-color);
}
.with_y_scroll {
  height: 100%;
  max-height: calc(100vh - 288px);
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Hide the scrollbar visually */
.with_y_scroll::-webkit-scrollbar {
  width: 0;
}

.with_y_scroll::-webkit-scrollbar-track {
  background: transparent;
}

.with_y_scroll::-webkit-scrollbar-thumb {
  background: transparent;
}
/* Hide the scrollbar overlay */
.with_y_scroll::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16px; /* Width of the scrollbar */
  background: #fff; /* Background color of the overlay (match your page background) */
}

/* Shift the content wrapper to cover the scrollbar */
.with_y_scroll .show_all_resume_wrapper {
  margin-right: -16px; /* Width of the scrollbar */
}

.resume_single_show {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 50px;
  position: relative;
}
.resume_single_show .card_right_arrow {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.resume_single_show .card_footer {
  justify-content: flex-end;
}
/* about page css  */
.grid_view_section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 5%;
  align-content: center;
  align-items: center;
}
.grid_section_item {
  flex: 0 0 50%;
}

.text_align_right {
  text-align: right;
}

.grid_section_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 440px;
}
.grid_section_header h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 15px;
}
.grid_section_header h6 {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  padding: 17px 0;
}
.grid_section_divider {
  display: block;
  background: var(--primary-color);
  width: 100%;
  max-width: 264px;
  height: 4px;
}
.grid_section_content {
  padding: 19px 0;
  color: #6b6b6b;
  line-height: 32px;
}
.row_reverse {
  flex-direction: row-reverse;
}
.grid_view_section .grid_section_item:last-child {
  text-align: right;
}
.grid_view_section.row_reverse .grid_section_item:last-child {
  text-align: left;
}
.grid_view_section.row_reverse .grid_section_item:first-child {
  text-align: right;
}

.grid_view_section.row_reverse .grid_section_divider {
  margin-left: auto;
}
.full_width_grid_section {
  margin-bottom: 50px;
}

/* video section  */
.singleSlide {
  position: relative;
}
.singleSlide iframe {
  width: 100%;
  height: 541px;
  max-width: 1129px;
  margin: 0 auto;
}
.singleSlide img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.vedio__content {
  padding-top: 25px;
}
